 .doc-page {
    flex-direction: column;
    padding: 0 75rpx;
  }

  .page-title-wrap {
    padding-top: 50rpx;
    padding-bottom: 80rpx;
    justify-content: center;
  }

  .page-title{
    padding-top: 30rpx;
    padding-bottom: 30rpx;
    padding-left: 40rpx;
    padding-right: 40rpx;
    border-color: #bbbbbb;
    color: #bbbbbb;
    border-bottom-width: 2rpx;
  }

  .container {
    flex-direction: column;
    align-items: center;
    padding-top: 50rpx;
    padding-bottom: 20rpx;
  }

  .camera {
    flex: 1;
    width: 600rpx;
    height: 400rpx;
  }

  .btn {
    width: 600rpx;
    height: 80rpx;
    text-align: center;
    border-radius: 5rpx;
    margin: 20rpx 0;
    margin-bottom: 50rpx;
    color: #ffffff;
    font-size: 30rpx;
    background-color: #0faeff;
  }

  .picture {
    width: 600rpx;
    height: 400rpx;
    margin-bottom: 20rpx;
  }

  .item-content {
    flex-direction: column;
  }